.navbar{
  background-color: #1b5583;
}

#logo{
  width: 20%;
  margin:0;
  padding:0;
}

#logo img{
  width:100%;
}

#menu_items a{
  color:#f5f0e3;
  font-size: 1.5em;
}

.fa {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin-top: 5px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.5;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #bb0000;
  color: white;
}

.face{
  background-color:#1b5583;
}

.faceLogo{
  margin-left: 15%;
  margin-top: 20%;
  width:60%;
}

.faceWriting{
  font-size:400%;
  margin-top: 15%;
  line-height:150%;
  color:#f5f0e3;
}

#faceHighlight{
  color:#40bfc1;
  font-size: 50%;
  text-decoration:underline;
  margin:0;
}

.heading{
  font-size: 400%;
  color:#f51e0f;
  text-decoration:underline;
}

.headingBody{
  text-align:center;
}
.category-images img{
  margin-top: 10%;
height:70%;
width:70%;
border-radius:50%;
border:2px solid #ff6f5e;
}
.category-images h3{
color: #ff6f5e;
}

.category-images:hover img {
border:2px solid #f0134d;
}
.category-images:hover h3{
color: #f0134d;
}

.motto .heading{
  margin-top:50%;
  margin-left: 10%
}
.mottoPic img{
  margin-top: 20%;
  width:80%;
}
.bottom{
  padding-top:2em;
  padding-bottom:0;
  background-color:#1b5583;
  text-align:center;
}

.fas{
  font-size:200%;color:#40bfc1;
}

.contact{
  color:white;
  display:inline;
  font-weight:bold;
  font-size:150%;
}
@media only screen and (max-width: 600px){

.faceLogo{
  width:50%;
  display:block;
  margin: 15% auto 2% auto ;
}
.faceWriting{
  font-size:250%;
  text-align: center;
  margin-top: 10%;
  line-height:100%;
  color:#f5f0e3;
}
#faceHighlight{
  color:#40bfc1;
  font-size: 60%;
  text-decoration:underline;
  margin:0;
}
.heading{
  font-size: 300%;
  color:#f51e0f;
  text-decoration:underline;
}
.category-images img{
  margin-top: 1%;
height:55%;
width:55%;
}

.motto .heading{
  margin:0% auto 2% auto;
  text-align: center;

}
.mottoPic img{
  width:100%;
  margin-top: 10%;
}

}

/* 768 */
@media only screen and (min-width: 992px){
  .faceLogo{
    margin-left: 15%;
    margin-top: 20%;
    width:60%;
  }
  .faceWriting{
    font-size:500%;
    margin-top: 15%;
    line-height:150%;
    color:#f5f0e3;
  }

  #faceHighlight{
    color:#40bfc1;
    font-size: 60%;
    text-decoration:underline;
    margin:0;
  }

  .motto .heading{
    margin-top:50%;
    margin-left: 10%
  }
  .mottoPic img{
    width:80%;
    margin-top: 20%;
  }

}








input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button.btn {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.btn,.cancelbtn:hover {
  opacity: 0.8;
}



/* Extra styles for the cancel button */
.cancelbtn {
  color: white;
  width: auto;
  padding: 2% 3%;
  background-color: #f44336;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 3% 0 3% 0;
  position: relative;
}





span.psw {
  float: right;
  padding-top: 2%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 4%;
  top: 0;
  color: #000;
  font-size: 200%;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
/* @media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
} */
